aside{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100;
    width: 319px;   
    padding-left: 64px;
    padding-top: 40px;
    z-index: 20;
}

.side-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 44px;
    padding: 0px 16px;
}

.user-profile-img{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.user-name-nickname{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.user-name-nickname{
    margin-left: 12px;
}

.user-name-text{
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.user-nickname-text{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
    color: rgb(115, 115, 115);
    padding-bottom: 4px;
}

.user-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 9px;
}

.user-button{
    color: rgb(0, 149, 246);
    border: none;
    background-color: transparent;
    max-width: 180px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.suggested-zone{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    margin-top: 20px;
    padding: 0px 16px;
}

.suggested-zone-1{
    display: flex;
    align-items: center;
    width: 250px;
}

.suggested-zone-text-1{
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
}

.suggested-zone-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.suggested-zone-text-2{
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.suggested-users{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.suggested{
    margin-bottom: 15.5px;
}

.sugg-profile{
    padding-left: 5px;
}

.sugg{
    width: 175px;
}

.suggg-text{
    font-size: 12px;
    max-width: 178px;
}

.sidebar-footer{
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
}

.mini-nav, .copyright-text{
    color: rgb(199, 199, 199);
    font-size: 12px;    
    cursor: pointer;
    line-height: 19px;
}

.mini-nav span:hover{
    text-decoration: underline;
    text-decoration-color: rgb(199, 199, 199);
}

.nav-sidebar{
    margin-bottom: 16px;
}

.user-button:hover{
    color: rgb(0, 86, 144);
}

.suggested-zone-text-2:hover, .user-button:active, .user-name-text:active{
    opacity: 0.6
}


@media (max-width: 1158px)
{
    aside{
        display: none;
    }
}